.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardSkeleton {
  background: #121212;
  padding: 10px;
}

.skeletonClass {
  border-radius: '5px';
  height: '20px';
  background-color: '#323232';
  border: '1px solid #323232';
  animation-duration: '2s'
}
.progressBarStyle{
  height: 6px;
  border-radius: 0px;
}

.appbody{
  background-color: #121212;
}
