@import '../src/assets/scss/bootstrap';
@import '../src/assets/scss/base';
@import '../src/assets/scss/helpers';
@import '../src/assets/scss/variables';
@import '../src/assets/scss/overview';
@import '../src/assets/scss/listing';
@import '../src/assets/scss/hero';

:root{
  background-color: black;
}
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $base-font-color;
  background: $base-bg;
}

